<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>D:/maven/Repository</localRepository>

  <pluginGroups>

  </pluginGroups>

  <proxies>

  </proxies>

  <servers>
    <!-- 用于发布正式版本 -->
    <server>
      <id>maven-repository-releases</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <!-- 用于发布快照版本 -->
    <server>
      <id>maven-repository-snapshots</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>


  <mirrors>

  </mirrors>

  <profiles>

  </profiles>

</settings>
